<h1>Change Order Shipping Address</h1>
<%= form_for @order_address, url: profile_update_order_address_path(@order) do |f| %>
<p>
  <%= f.label :name %>:
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :street %>:
  <%= f.text_field :street %>
</p>

<p>
  <%= f.label :city %>:
  <%= f.text_field :city %>
</p>

<p>
  <%= f.label :state %>:
  <%= f.text_field :state %>
</p>

<p>
  <%= f.label :zip %>:
  <%= f.text_field :zip %>
</p>

<p>
  <%= f.submit "Submit" %>
</p>
<% end %>
